[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
